<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Volunteer Connection</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            
        </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (canEdit) {%>
                <li>
                <% } else { %>
                   <li class="disabled">
               <%} %>
          <a href="/app/<%=appt.id%>/edit">Edit Appointment</a></li>
          <li><a href="/app">Show All Appointments</a></li>
          <li><a href="/app/new">Book Appointment</a></li>
          <li>
          <form class="navbar-form" action="/sessions?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-link">Logout</button>
          </form>
        </li>
        </ul>
        
      </div>
    </div>
  </nav>
