<!DOCTYPE html>
<html>

<head>
  <%- include("./partials/head.ejs") %>
  
  <title></title>
</head>

<body>
  <h1>
    Welcome to Volunteer Connection!
  </h1>
  <h2>Sign Up, Help Out</h2>
  <BR>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="/sessions/new">Log In</a></li>
      <li><a href="/users/new">New? Register Here!</a></li>
      
    </ul>
  </nav>

  <div class="main-photo">
    <img src="../frontPagePhoto.jpg" class="img-thumbnail" alt="Kids at Play" width="50%" height="50%">
  </div>

</body>

</html>