<!DOCTYPE html>
<html>

<head>
  <%- include("./partials/head.ejs") %>
  
  <title></title>
</head>

<body>
  <h1>
    <% if(currentUser) { %>
    Welcome <%=currentUser.username%>!
    <% } else { %>
    Welcome to Volunteer Connection!
    <% } %>
  </h1>
  
  <nav>
    <ul class="list-unstyled">
      <li><a href="/sessions/new">Log In</a></li>
      <li><a href="/users/new">Register</a></li>
      <% if(currentUser) { %>
      <li>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Logout" />
        </form>
      </li>
      <% } %>
    </ul>
  </nav>

</body>

</html>